body {
  background-color: #e5e5e5;
  color: #212121;
}

ul {
  list-style: none;
}
/*цвет основного текста* #212121/
/*цвет вторичного текста* #757575/
/*белый* #FFFFFF/
/*акцент* #2196F3/
/*цвет фона подвала* #2F303A/
/*цвет фона hero * #2F303A/
/*цвет фона header * #ECECEC*/

.logo {
  color: #000000;
}
